body {
	font-family: 'Titillium Web', sans-serif;
	color: #FF8C00;
}

.text-muted {
	color: #FFA500;
}

.text-fat {
	font-weight: 700;
}

.text-thin {
	font-weight: 200;
}

.title-logo {
	margin-top: 20px;
}

.title-super {
	font-size: 60px;
}