body {
	font-family: 'Titillium Web', sans-serif;
	color: #009900;
	background-color: #000000;
}

.text-muted {
	color: #009933;
}

.text-fat {
	font-weight: 700;
}

.text-thin {
	font-weight: 200;
}

.title-logo {
	margin-top: 20px;
	max-height: 200px;
	max-width: 200px;
}

.title-super {
	font-size: 60px;
}

hr {
    border: none;
    height: 3px;
    color: #009900; 
    background-color: #009900; 
}

p {
	word-wrap: break-word;
}

.specialeffects:hover {
	background-color: #00FF00;
}